body {
    margin: 0;
}
/* header */
.header {
    height: 3.8125em;
    width: 100%;
}
.header > nav{
    height: 100%;
    background-color: white;
}

.nav-wrapper > .brand-logo {
    height: 100%;
    color: rebeccapurple;
}

.nav-wrapper > ul {
    height: 100%;
}

nav ul a {
    color: blue;
}

ul > li, a {
    height: 100%;
    background-color: red;
}

/* menu */
.menu {
    background-color: yellow;
}

.dashboard {
    background-color: blue;
}

.footer {
    background-color: green;
}